:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  width:100vw;
  height:100vh;
  background:#fbfcfd;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding:0;
  min-width: 320px;
  min-height: 100vh;
  width:100vw;
}



.MuiTab-root{
  color:grey !important;
}
.MuiTab-root.Mui-selected{
  font-weight:600;
  color: #218c74 !important
}
.MuiTab-root{
  text-transform: capitalize !important;
}
button:focus, button:focus-visible{
  outline:none !important;
}

.green-cell{
  color: green;
}
.red-cell{
  color:red;
}
.MuiTabs-indicator{
  display: none
}
.MuiPaper-root::before{
  display: none !important;
}

.menu-button {
  padding: 8px 20px !important;
  text-align: center;
  font-weight: 600 !important;
  color: grey !important;
  background-color: transparent !important;
  border: none;
  border-radius: 8px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left:5px !important;
  text-transform: capitalize !important;
}

.menu-button:hover {
  color:#222 !important;
  font-weight:800 !important;
  background-color: rgba(0,0,0,0.05) !important;
}

